<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="#">
        <title>Guardian HTML Form</title>
        <!-- CSS STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link type="text/css" href="assets/vendors/bs/css/bootstrap.css" rel="stylesheet">
        <link type="text/css" href="assets/vendors/faicon/css/font-awesome.css" rel="stylesheet">
        <link type="text/css" href="assets/vendors/multisteps/jquery.steps.css" rel="stylesheet">
        <link type="text/css" href="assets/vendors/aos/aos.css" rel="stylesheet">
        <link type="text/css" href="assets/vendors/dtpicker/jquery.datetimepicker.css" rel="stylesheet">
        <link type="text/css" href="assets/css/wpb_style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://design9tech.com/Guardian/css/new_account.css">
    </head>
    <body style="background-color: #000;">
        <section class="wpb_loader"><div class="loader"></div></section>
       <style type="text/css">
           label {
    font-size: 16px;
}
       </style>
<div class="container-fluid" style="background-color: #000;">
    <div class="container"> 
        <br><br>
        <br>
        <!-- Rigister form -->
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
              
                <%- include('messages'); -%>
                <form action="/register" method="post">
                            
                     <div class="reg_form">
                        <h3 class="text-center"><b>Begin an Online Application</b></h3>
                        <p class="text-center">Already have an account? <a href="/">Sign in...</a></p>

                            <div class="form-group">
                                <label for="email">Your Email</label>
                                <input name="email" type="email" class="form-control" placeholder="Email" required autofocus> </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="registration_type">Registration Type</label>
                                        <select name="registrationType" id="registration_type" class="selectpicker form-control ">
                                            <option value="" style="display:none;">Select one</option>
                                            <option value="Individual Account">Individual Account</option>
                                            <option value="JTWROS">JTWROS</option>
                                            <option value="Tenants in Common">Tenants in Common</option>
                                            
                                            <option value="Corporate">Corporate</option>
                                            <option value="Trust">Trust</option>
                                            <option value="Limited Liability Company">Limited Liability Company</option>
                                            <option value="Limited Partnership">Limited Partnership</option>
                                        </select>


                                                                            </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="product_trade">Product You want to Trade</label>
                                        <select name="productTrade" id="product_trade" class="selectpicker form-control ">
                                            
                                            <option value="Stock">Stocks</option>
                                            
                                        </select>
                                                                            </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="hear_about">How did you hear about us?</label>
                                        <select name="hearAbout" id="hear_about" class="selectpicker form-control ">
                                            <option value="" style="display:none;">Select one</option>
                                            <option value="Google">Google</option>
                                            <option value="Bloomberg">Bloomberg</option>
                                            <option value="Other">Other</option>
                                        </select>
                                                                                </div>
                                </div>
                            </div>

                         

                            <div class="form-group">
                                <label for="password">Create Password</label>
                                <input name="password" type="password" id="passwords"  class="form-control" placeholder="Password"  pattern="{6,}"
                                 required="">

                                                            </div>

                        
                            <div class="form-group">
                                <label for="password-confirm">Confirm Password</label>
                                <input type="password" name="passwordConfirmation" id="password-confirm" class="form-control"  pattern=".{6,}"
                                 required="">
                            </div>
                            
                            <input type="submit" value="Sign up" class="btn btn-primary btn-block">
                            
                        
                    
                    </div></form>
                    
                
            </div>  
            <div class="col-md-2"></div>
            
        </div>
        <!-- End -->
        <br><br>
        <br>

    </div>
</div>
    </body>
    <!-- JS SCRIPTS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
    <script type="text/javascript" src="assets/vendors/jquery/popper.min.js"></script>
    <script type="text/javascript" src="assets/vendors/bs/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/vendors/multisteps/jquery.steps.js"></script>
    <script type="text/javascript" src="assets/vendors/aos/aos.js"></script>
    <script type="text/javascript" src="assets/vendors/dtpicker/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="assets/js/wpb_scripts.js"></script>
    <script type="text/javascript" src="assets/js/wpb_code.js"></script>
    <script type="text/javascript" src="assets/js/validate.js"></script>




</html>
