<% if(errors != '') { %>
        <div class="alert alert-danger" role="alert">
         <%= errors %>
        </div>
        <% } %>
        <% if(success != '') { %>
            <div class="alert alert-success" role="alert">
        <%= success %>
            </div>
<% } %>